{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_content %}
    Add Category
{% endblock %}


{% block body_content %}
    <h1>Add a category</h1>
    <form action="{% url 'add_category' %}" method="post">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text}}
            {{ field }}
        {% endfor %}
        <input type="submit" value="Add a category" name="submit"> 
    </form>
{% endblock %}

